{% extends 'layout.html' %}

{% block page_css %}
    {{ link('css/status.css') }}
{% endblock %}

{% block content %}
    {{ script('js/bootstrap-datepicker.js') }}
    <div class="row">
        <div class="disk-wap">
            <div class="col-xs-8">
                {% if client_total and client_used %}
                    <h3>本地磁盘使用情况: <span style="color: green">{{ client_total | quota_filter }}</span> &nbsp;&nbsp;&nbsp;已使用容量:
                        <span style="color: green">{{ client_used | quota_filter }}</span></h3>
                    <div class="pie-chart" id="client"></div>
                {% else %}
                    <h3>该用户没有本地磁盘使用记录</h3>
                {% endif %}
            </div>
        </div>
    </div>
    {{ script('bower_components/highcharts/highcharts.js') }}
    {{ script('js/disk-status.js') }}
    <script>
        var client_cur = {{ client_cur | safe }};
        loadPieChart("div.disk-wap #client", client_cur, "客户端空间使用情况");
    </script>
{% endblock %}